#LinkStyled {
    text-decoration: none;
}

.LinkStyle{
margin: 0 10px;
text-decoration: none;
font-size: 1.2rem;
color: #4F0080;
}

.LinkStyle:hover {
    color: whitesmoke;
}


#Content {
    display: flex;
    grid-area: Content;
    margin-top: 12%;
    grid-template-columns: 1fr; 
    flex-direction: column;
    margin-left: 4%;
} 

#Main {
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 5%;
    background-color: rgba(88, 85, 85, 0.653);
}

#Intro{
    display: flex;
    grid-area: Intro;
    grid-template-columns: 1fr; 
    flex-direction: column;
    margin-left: 2%;
    margin-top: -5%;
}

#profilePicture {
    width: 80%;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.79);
    width: 300px;
    height: 400;
    background-color: white;
    vertical-align: middle;
    transform: rotate(8deg);
}

#Aside {
float: right;
position: sticky;
top: 0;
margin-right: 10%;
margin-top: -20%;
}

#Details {
display: flex;
list-style: none;
flex-direction: row;
justify-content: space-between;
margin-top: 20%;
}
