#LinkStyled {
    text-decoration: none;
}

.LinkStyle{
margin: 0 10px;
text-decoration: none;
font-size: 1.2rem;
color: #4F0080;
}

.LinkStyle:hover {
    color: whitesmoke;
}

.section-header{
    color: rgba(240, 248, 255, 0.892);
}


#Content {
    display: flex;
    grid-area: Content;
    margin-top: 5rem;
    grid-template-columns: 1fr; 
    flex-direction: column;
    margin-left: 4%;
} 

#Main {
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 5%;
    background-color: rgba(88, 85, 85, 0.653);
}

#Intro{
    display: flex;
    grid-area: Intro;
    grid-template-columns: 1fr; 
    flex-direction: column;
    margin-left: 2%;
    margin-top: -5%;
    font-family: 'Acme', sans-serif;
}

#profilePicture {
    width: 80%;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.79);
    width: 300px;
    height: 400;
    margin-top: 5rem;
    background-color: white;
    vertical-align: middle;
    transform: rotate(8deg);
}

#Aside {
float: right;
position: sticky;
/* top: 4; */
margin-right: 10%;
/* margin-top: -20%; */
}

#Details {
display: flex;
list-style: none;
flex-direction: row;
justify-content: space-between;
margin-top: 20%;
}



/* COLOURS ON HOVER */

#i-love{
    margin-left: 13rem;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: rgba(234, 234, 234, 0.454);
}

.i-letter:hover {
    color: rgb(234, 255, 0);
}

.l-letter:hover {
    color: rgb(249, 77, 231);
}

.o-letter:hover {
    color: rgb(0, 85, 255);
}

.v-letter:hover {
    color: rgb(26, 255, 0);
}

.e-letter:hover {
    color: rgb(255, 0, 0);
}


.c-letter:hover {
    color: rgb(255, 0, 208);
}

.r-letter:hover {
    color: rgb(255, 132, 0);
}

.a-letter:hover {
    color: rgb(0, 208, 255);
}

.t-letter:hover {
    color: rgb(153, 255, 0);
}

.n-letter:hover {
    color: rgb(255, 255, 0);
}

.g-letter:hover {
    color: rgb(234, 0, 255);
}

.s-letter:hover {
    color: rgb(3, 162, 231);
}

.t-letter:hover {
    color: rgb(255, 145, 0);
}

.u-letter:hover {
    color: rgb(255, 0, 221);
}

.f1-letter:hover {
    color: rgb(64, 255, 0);
}

.f2-letter:hover {
    color: rgb(0, 21, 255);
}

/* Media queries ipad */

@media only screen and (max-width: 820px) {
    #profilePicture {
        margin-top: -16rem;
        margin-left: 6rem;;
        border: 1px solid rgba(255, 255, 255, 0.79);
        width: 150px;
        height: 200;
        background-color: white;
        transform: rotate(8deg);
    }
  
    #Main {
        display: grid;
        grid-template-rows: repeat(2, auto);
        padding: 5%;
        background-color: rgba(255, 0, 0, 0);
    }

    #Details {
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2%;
        margin-right: -3rem;
    }

    #Aside {
        float: right;
        position: relative;
        top: 0;
        margin-right: 20%;
        margin-top: -20%;
    }

    .LinkStyle {
        margin: 0 10px;
        text-decoration: none;
        font-size: 1.2rem;
        color: rgb(50, 47, 50);
    }

    #Content {
        display: flex;
        grid-area: Content;
        margin-top: 6rem;
        grid-template-columns: 1fr;
        flex-direction: column;
        margin-left: 4%;
    }
}

/* media query for mobile */

@media only screen and (max-width: 432px) {

    #Intro{
        margin-top: -2%;
        text-align: center;
        width: 120%;
    }

    #profilePicture {
        margin-top: 15rem;
        margin-left: 6rem;
        border: 1px solid rgba(255, 255, 255, 0.79);
        width: 180px;
        height: 210;
        background-color: white;
        transform: rotate(8deg);
    }
  
    #Main {
        display: grid;
        grid-template-rows: repeat(2, auto);
        padding: 5%;
        background-color: rgba(255, 0, 0, 0);
    }

    #Details {
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 15%;
    }

    #Aside {
        float: right;
        position: relative;
    }

    .LinkStyle {
        margin: 10px;
        text-decoration: none;
        font-size: 1.2rem;
        color: rgb(50, 47, 50);
        margin-right: -20px;
    }

    #Content {
        display: flex;
        grid-area: Content;
        margin-top: 38rem;
        grid-template-columns: 1fr;
        flex-direction: column;
        margin-left: 4%;
        text-align: justify;
        width: 120%;
    }
    #i-love{
        margin-left: 6rem;
        font-family: 'Acme', sans-serif;
        font-size: 30px;
        color: rgba(234, 234, 234, 0.454);
    }
}
