#carousel-view {
    display: grid;
    grid-template-columns: repeat
    ('first-item, second-item');
    gap: 1rem;
    overflow: hidden;
    width: 100%;
    scroll-behavior: smooth;
    margin-top: 50px;
}

#first-item {
    display: flex;
    grid-area: first-item;
    grid-column: 1/2;
    margin-left: 10rem;
    margin-right: 5rem;
}


#second-item {
    display: flex;
    grid-area: second-item;
    grid-column: 2/2;
    margin-left: 55px;
    cursor: default;
    pointer-events: none;

}

/* Buttons */

.button {
    display: flex;
    position: absolute;
    background-color: rgba(137, 43, 226, 0.48);
    font-size: 90px;
    z-index: 2;
    margin-top: 20%;
    border-radius: 30%;
    border-width: 6px;
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
}

.button:hover{
    background-color: whitesmoke;
    cursor: pointer;
        border-top: 2px solid blueviolet;
        border-left: 2px solid blueviolet;
        border-bottom: 2px solid rgb(238, 103, 238);
        border-right: 2px solid rgb(238, 103, 238);
        box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
        }


#button-previous {
    left: 0;
    margin-left: 2%;
    padding-left: 1.5%;
    padding-right: 2%;
}

#button-next {
    right: 0;
    margin-right: 20%;
    padding-left: 2%;
    padding-right: 1.5%;
}

#button-next:hover {
background-color: whitesmoke;
cursor: pointer;
    border-top: 2px solid blueviolet;
    border-left: 2px solid blueviolet;
    border-bottom: 2px solid rgb(238, 103, 238);
    border-right: 2px solid rgb(238, 103, 238);
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px;
}


/* Media queries ipad */

@media only screen and (max-width: 820px) {
    #first-item {
        display: flex;
        grid-area: first-item;
        grid-column: 1/2;
        margin-left: 3.5rem;
    }

    .button {
        margin-top: 30%;
    }

    #button-previous {
        margin-left: 2%;
    }

    #button-next {
        margin-right: 1.5%;
    }
}

@media only screen and (max-width: 414px) {

    #carousel-view {
        display: grid;
        grid-template-columns: repeat
        ('first-item, second-item');
        gap: 1rem;
        overflow: hidden;
        width: 100%;
        scroll-behavior: smooth;
        margin-top: 10px;
        margin-bottom: 25%;
    }


    #first-item {
        display: flex;
        grid-area: first-item;
        grid-column: 1/2;
        margin-left: 0.5rem;
        width: 50%;
    }

    .button {
        margin-top: 76%;

    }

    #button-previous {
        margin-left: 2%;
    }

    #button-next {
        margin-right: 1.5%;
    }
   
}

