#personal-main {
    display: grid;
    grid-template-rows: repeat(2, auto);
    padding: 5%;
    background-color: rgba(88, 85, 85, 0.653);
}

#personal-content {

    display: flex;
    grid-area: Content;
    margin-top: 12%;
    grid-template-columns: 1fr; 
    flex-direction: column;
    margin-left: 4%;
}

.psection-header{
    color: rgba(240, 248, 255, 0.892);
}

#personal-intro{
    display: flex;
    grid-area: Intro;
    grid-template-columns: 1fr; 
    flex-direction: column;
    margin-left: 2%;
    margin-top: -5%;
    font-family: 'Acme', sans-serif;
}


#personal-aside {
    float: right;
    /* position: sticky; */
    top: 0;
    margin-right: 10%;
    margin-top: -20%;
}

#personal-picture {
    width: 80%;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.79);
    width: 300px;
    height: 400;
    background-color: white;
    vertical-align: middle;
    transform: rotate(8deg);
    margin-top: 5rem;
}

#personal-details {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20%;
}

.personal-linkStyle{
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #4F0080;
}

.personal-linkStyle:hover {
    color: whitesmoke;
    color: rgb(26, 34, 71);
}

.sustainability-links {
    color: rgb(186, 219, 247);
    text-decoration: none;
    font-weight: bold;
}

.sustainability-links:hover{
    color: rgb(240, 247, 186);
    
}


/* I love ducks easter egg */
.duck-name{
    margin-left: 13rem;
    font-family: 'Acme', sans-serif;
    font-size: 60px;
    color: rgba(234, 234, 234, 0.454);
}

.c-letter:hover {
    color: rgb(255, 0, 208);
}

.d-letter:hover {
    color: rgb(255, 132, 0);
}

.e-letter:hover {
    color: rgb(255, 0, 0);
}

.i-letter:hover {
    color: rgb(234, 255, 0);
}

.k-letter:hover {
    color: rgb(0, 208, 255);
}

.l-letter:hover {
    color: rgb(249, 77, 231);
}

.o-letter:hover {
    color: rgb(0, 85, 255);
}

.s-letter:hover {
    color: rgb(153, 255, 0);
}

.u-letter:hover {
    color: rgb(255, 255, 0);
}

.v-letter:hover {
    color: rgb(26, 255, 0);
}


/* Media queries ipad */

@media only screen and (max-width: 820px) {
    #personal-picture {
        margin-top: -16rem;
        margin-left: 6rem;
        width: 80%;
        border: 1px solid rgba(255, 255, 255, 0.79);
        width: 150px;
        height: 210px;
        background-color: white;
        transform: rotate(8deg);
    }
    #personal-aside {
        float: right;
        position: relative;
        margin-right: 4.2%;
        /* margin-top: 21.5rem; */
        height: 10px;
    }
    #personal-details {
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.7%; /* top is the bottom of the picture*/
        margin-left: 0rem;
    }

    #personal-main {
        display: grid;
        grid-template-rows: repeat(2, auto);
        padding: 5%;
        background-color: rgba(255, 0, 0, 0);
        margin-bottom: 23rem;
    }
    #personal-intro {
        display: flex;
        grid-area: Intro;
        grid-template-columns: 1fr;
        flex-direction: column;
        margin-left: 2%;
        margin-top: -3%;
        font-family: 'Acme', sans-serif;
        font-size: 16px;
    }

    #personal-content {

        display: flex;
        grid-area: Content;
        margin-top: 12%;
        grid-template-columns: 1fr; 
        flex-direction: column;
        margin-left: 4%;
    }
}

@media only screen and (max-width: 414px) {

    #personal-intro {
        margin-left: 10px;
        text-align: center;
        width: 87%;
        margin-bottom: 90%;
        z-index: -20;
    }

    .psection-header{
        color: rgba(240, 248, 255, 0.892);
        margin-top: 2px;
        z-index: -20;
        height: -2px;
    }

    
    #personal-aside {
        float: right;
        position: relative;
        margin-right: 4%;
        /* margin-top: 21.5rem; */
        z-index: 30;
        width: 100%;
    }

    #personal-picture {
        margin-bottom: -60rem;
        border: 1px solid rgba(255, 255, 255, 0.79);
        width: 175px;
        height: 230px;
        background-color: white;
        transform: rotate(8deg);
        margin-left:30%;
    }

    #personal-details {
        display: flex;
        list-style: none;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 32rem;
        margin-left: 15%;
        margin-right: 4px;
        height: 10%;
        z-index: -3;
    }

  #personal-main {
    text-align: justify;
    margin-bottom: 35%;
  }

  .duck-name{
    margin-left: 2%;
    font-family: 'Acme', sans-serif;
    font-size: 60px;
    color: rgba(234, 234, 234, 0.454);
}
     
}