#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
    background-color: #131313c9;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    margin-top: 5%;
}


#details {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
} 

#pic {
    align-self: center;
    width: 85%;
    height: 80%;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
}


#project-title{
    color: #5252f9;
}

#stack {
    color: #5252f9;
}

#Info {
    color: #5252f9;
    font-size: 0.8rem;
}

#Info > a {
    text-decoration: none;
}








