#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
    background-color: #131313c9;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 15px;
    margin-top: 5%;
}


#details {
    display: grid;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5rem;
} 

#pic {
    align-self: center;
    width: 85%;
    height: 80%;
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
}

#pic:hover {
    margin-left: 40%;
    margin-top: 4%;
    transform: scale(1.7);
    opacity: 100%;
    transition: 1s;
    z-index: 1;
}


#project-title{
    color: #dcdcf1;
}

#stack {
    color: #dcdcf1;
    margin-left: -3px;
}

#info {
    color: #dcdcf1;
    font-size: 1 rem;
    margin-left: 2px;   
}

#info > a {
    text-decoration: none;
    color: #dcdcf1;
}

#info > a:hover {
    color: #ed1682;
}

.link-text {
    color: #5999E8;
    font-size: 1 rem;
    margin-left: 2px; 
    text-decoration: none;;  
}







