body {
  background: linear-gradient(45deg, #ec6b6b, #de3274, #ba5ee2, #4e9aec, #67e2b5, #40ee92);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  height: 100vh;
  display: grid;
  grid-template-areas: 
  'NavContainer MainBlock'
  'MainBlock MainBlock';
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%; 
  }
  
}

